.Pokecard{
    background-color:rgb(242, 239, 239);
    width: 20%;
    margin: 1%;
    margin-top: 1%;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.59);
    border-radius: 10px;
}

.Pokecard-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%;
    height: 50%; */
    background-color:rgb(212, 211, 210);
    margin: 2rem;
    border-radius: 10px;
}
.Pokecard-title{
    font-size: 1.5rem;
}

.Pokecard-data{
    margin-bottom: 1.2rem;
    font-size: 120%;
    font-weight: bold;
}

.Pokecard img{
    transition: all ease-in-out 500ms;
}

.Pokecard img:hover{
    transform: scale(1.25);
    opacity: 0.9;
}